<%= form_for(@makingrocery) do |f| %>
  <% if @makingrocery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@makingrocery.errors.count, "error") %> prohibited this makingrocery from being saved:</h2>

      <ul>
      <% @makingrocery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_area :quantity %>
  </div>
  <div class="field">
    <%= f.label :coupon %><br>
    <%= f.text_area :coupon %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
